flows.json
[{"id":"f92cfc26.ff5bb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c7b7ff5a.2b392","type":"function","z":"f92cfc26.ff5bb","name":"parameters","func":"global.set(\"FFMC\",msg.payload.ffmc)\nglobal.set(\"DMC\",msg.payload.dmc)\nglobal.set(\"DC\",msg.payload.dc)\nglobal.set(\"ISI\",msg.payload.isi)\nglobal.set(\"TEMP\",msg.payload.temp)\nglobal.set(\"RH\",msg.payload.rh)\nglobal.set(\"WIND\",msg.payload.wind)\nglobal.set(\"RAIN\",msg.payload.rain)\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":120,"wires":[["10494b6a.189365","11b89930.33c097"]]},{"id":"10494b6a.189365","type":"http request","z":"f92cfc26.ff5bb","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":280,"y":300,"wires":[["77c4d42e.5c0a3c","efdd9b50.e1cab8"]]},{"id":"77c4d42e.5c0a3c","type":"debug","z":"f92cfc26.ff5bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":360,"wires":[]},{"id":"c263c614.494348","type":"http request","z":"f92cfc26.ff5bb","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/903db30d-ab06-40e6-929e-4e5337b729ce/deployments/e5ff2843-a97b-413e-84d3-6e68278bc032/online","tls":"","proxy":"","x":440,"y":60,"wires":[["322eec70.8aa7e4","691ee7a1.c10788"]]},{"id":"322eec70.8aa7e4","type":"debug","z":"f92cfc26.ff5bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":654,"y":56,"wires":[]},{"id":"691ee7a1.c10788","type":"function","z":"f92cfc26.ff5bb","name":"","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["83bdd905.6a1e18"]]},{"id":"efdd9b50.e1cab8","type":"function","z":"f92cfc26.ff5bb","name":"prediction","func":"var token = msg.payload.token\nvar ffmc=global.get('FFMC')\nvar dmc=global.get('DMC')\nvar dc=global.get('DC')\nvar isi=global.get('ISI')\nvar temp=global.get('TEMP')\nvar rh=global.get('RH')\nvar wind=global.get('WIND')\nvar rain=global.get('RAIN')\nmsg.payload ={\"fields\":[\"FFMC\",\"DMC\",\"DC\",\"ISI\",\"TEMP\",\"RH\",\"WIND\",\"RAIN\"],values:[[ffmc,dmc,dc,isi,temp,rh,wind,rain]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["c263c614.494348","c70b27a5.f2ef68"]]},{"id":"83bdd905.6a1e18","type":"ui_text","z":"f92cfc26.ff5bb","group":"d5b7db92.e9c0a8","order":2,"width":0,"height":0,"name":"","label":"Predicition","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":300,"wires":[]},{"id":"c90d65df.df5998","type":"ui_form","z":"f92cfc26.ff5bb","name":"","label":"","group":"d5b7db92.e9c0a8","order":1,"width":0,"height":0,"options":[{"label":"FFMC","value":"ffmc","type":"number","required":true},{"label":"DMC","value":"dmc","type":"number","required":true},{"label":"DC","value":"dc","type":"number","required":true},{"label":"ISI","value":"isi","type":"number","required":true},{"label":"TEMP","value":"temp","type":"number","required":true},{"label":"RH","value":"rh","type":"number","required":true},{"label":"WIND","value":"wind","type":"number","required":true},{"label":"RAIN","value":"rain","type":"number","required":true}],"formValue":{"ffmc":"","dmc":"","dc":"","isi":"","temp":"","rh":"","wind":"","rain":""},"payload":"","submit":"","cancel":"","topic":"","x":91,"y":233,"wires":[["c7b7ff5a.2b392"]]},{"id":"c70b27a5.f2ef68","type":"debug","z":"f92cfc26.ff5bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":486.10003662109375,"y":274,"wires":[]},{"id":"11b89930.33c097","type":"debug","z":"f92cfc26.ff5bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260.1000061035156,"y":34,"wires":[]},{"id":"d5b7db92.e9c0a8","type":"ui_group","z":"f92cfc26.ff5bb","name":"Input Parameters","tab":"19273db3.cf1f82","disp":true,"width":"6","collapse":false},{"id":"19273db3.cf1f82","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]